nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .Myfood-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px none #a5a3a3;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 10px #cacaca;
          box-shadow: 0px 0px 0px 10px #cacaca;
  margin-top: -9px;
  margin-bottom: 2px;
}

nav .Myfood-logo .logo {
  margin-left: 50px;
  padding-left: 30px;
  width: 194px;
  height: 51px;
}

.location-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #ebe9e9;
  margin-left: 50px;
  padding-left: 120px;
}

.location-icon p {
  font-family: Roboto;
  font-size: larger;
  padding-left: 20px;
}

.explore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf5f5;
  width: 110%;
  margin-left: -16;
  font-family: Roboto;
  text-align: center;
}

.explore-container h2 {
  margin-left: -7px;
  padding-left: 2px;
  font-size: 22px;
}

.navcopy {
  font-weight: lighter;
}

.button-container {
  height: 65px;
}

.explore-button {
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  position: relative;
  z-index: 1;
}

.explore-button:hover::after {
  opacity: 1;
}

.explore-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 20px;
}

.booking-steps-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-steps-container .booking-steps-title {
  font-family: Roboto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.mini-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px none #cacaca;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: Roboto;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 4px 8px 0 #cacaca;
          box-shadow: 0 4px 8px 0 #cacaca;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  padding: 0 20px;
  height: 70px;
  width: 270px;
  -webkit-transition: background-color 300ms 150ms;
  transition: background-color 300ms 150ms;
  -webkit-box-shadow: 300ms;
          box-shadow: 300ms;
}

.mini-cards:hover {
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 4px 8px 0 #5e5e5e;
          box-shadow: 0 4px 8px 0 #5e5e5e;
}

.number {
  padding: 3px 7px;
  border: 1px solid #9356dc;
  border-radius: 20px;
  background-color: #9356dc;
  color: #fff;
  margin-left: -30px;
  margin-right: 20px;
}

.icon {
  margin-right: 10px;
  color: #a5a3a3;
}

.icon :hover {
  color: #9356dc;
}

.wrapper-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf5f5;
  margin-left: -18px;
  padding-left: 23px;
  width: 100%;
  height: 1125px;
}

.wrapper-restaurants .wrapper-restaurants-title {
  font-family: Roboto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-card {
  border: 1px none #cacaca;
  border-radius: 15px;
  margin-bottom: -12px;
  font-family: Roboto;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 4px 8px 0 #cacaca;
          box-shadow: 0 4px 8px 0 #cacaca;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  overflow: hidden;
}

.restaurant-card .card-img {
  height: 160px;
  width: 300px;
  padding: 2px;
  border-radius: 15px;
}

.wrapper-restaurant-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px none #cacaca;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: Roboto;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 4px 8px 0 #cacaca;
          box-shadow: 0 4px 8px 0 #cacaca;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 304px;
  height: 80px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.wrapper-restaurant-info .card-bold-info {
  width: 94%;
  height: 34px;
}

.card-city-info {
  width: 93%;
  height: 20px;
}

.heart {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 25px;
  margin-right: 24px;
  margin-top: -21px;
  padding-bottom: 12px;
}

.black-hearth {
  margin-left: -25px;
  color: #fff;
  -webkit-transition: background-color 300ms 150ms;
  transition: background-color 300ms 150ms;
}

.black-hearth:active {
  color: #9356dc;
}

footer {
  background-color: #424141f4;
  margin-left: -18px;
  padding-left: 23px;
  color: #fff;
  font-family: Roboto;
  height: 250px;
}

footer .mini-logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding: 20px;
}

footer .mini-logo .mini-log {
  width: 130px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style-type: none !important;
  margin-left: -20px;
  padding-bottom: 10px;
}

.footer-list li {
  padding-bottom: 10px;
}

.footer-list .iconlist {
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */