@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";


.big-container {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  animation-name: big-container;
  animation-duration: 2s;
  display: block;
}  

@media screen and (min-width:255px)  {  

nav {
  @include flexcolumn;

    & .Myfood-logo {
      display:flex;
      @include lightgray-background ($whitecolor);
      @include div-border;
      margin-top: -9px;
      margin-bottom:2px;

      & .logo{
        @include container-margin(0, 98px);
        @include logo-size (194px, 51px);
      }
    }
}
 .location-icon {
  @include flexrow;
  width: 105%;
  @include lightgray-background(#ebe9e9);
  justify-content: center;

      p {
         @include font-location;
         padding-left:20px;     
   }
}
.explore-container {
  @include flexcolumn;
  @include lightgray-background(#faf5f5);
  width: 105%;
  font-family: $font-text;
  text-align: center;

    & h2 {
        @include container-margin (2px, -7px); 
        font-size: 22px;

    }
  }
           .navcopy {
              font-weight: lighter; 
}  

  .button-container {
    height: 65px;
  }
        .explore-button {
           @include exp-buttonshape (15px, 20px, 15px, 20px,20px);
           @include exp-buttoncolor;
           position: relative;
           z-index: 1;
           
           &:hover {
             &::after{
              opacity:1;
             }
          }
                    &::after {
                       content: "";
                       position: absolute;
                       top: 0;
                       right: 0;
                       bottom: 0;
                       left: 0;
                       background: linear-gradient(to bottom, #9356dc, #ff79da);
                       opacity: 0;
                       z-index: -1;
                       transition: opacity 250ms;
                       border-radius: 20px;
           }
   }
            
              
  .booking-steps-container {
    @include flexcolumn; 

        & .booking-steps-title {
          @include container-titles;
    }
}

  .mini-cards {
    @include flexrow;
    @include cards (20px);
    padding: 0 20px;
    height: 70px;
    width: 270px; 
    transition: background-color 300ms 150ms;

          &:hover {
          background-color: lighten(#f8f8f8, 2);
          box-shadow:  0 4px 8px 0 #5e5e5e;
    }    
  }

     .number {
        @include purplenumbers
              }
                .icon {
                  margin-right: 10px;
                  color:#a5a3a3;

                   & :hover { 
                     color: #9356dc;
              } 
            }  
                     

  .wrapper-restaurants {
    @include flexcolumn; 
    @include lightgray-background(#faf5f5);
    width: 105%;
    height: 1125px;
    

         .wrapper-restaurants-title{
          @include container-titles;
         }
}
  .cards {
    @include flexcolumn;
}
          .restaurant-card {
            @include cards (-12px);
            overflow: hidden;
          
               & .card-img {
                  @include cardimg;
                  object-fit: cover;
                }
}

  .wrapper-restaurant-info {
      @include flexcolumn;
      @include cards (20px);
      width: 304px; 
      height:80px;
      border-top-right-radius: 0px;  
      border-top-left-radius: 0px; 
            
             & .card-bold-info {
              width: 94%;
              height: 34px;
             }
}         
   .card-city-info {
    width: 93%;
    height: 20px;
  }

       .heart {
          align-self: flex-end;
          font-size: 25px;
          margin-right: 24px;
          margin-top: -21px;
          padding-bottom: 27px;
       }
        .black-hearth {
          margin-left: -25px;
          color:$whitecolor;
          transition: background-color 300ms 150ms;
          &:hover {
            color: $color-primary;
            transform: scaleX(1);
            animation-name: color-hearth;
            animation-duration: 1000ms;
            animation-fill-mode: forwards;
        }
        
      }
      .new-div {
        @include newgreen;            
      }

  footer {
    @include lightgray-background (#424141f4) ;
    @include container-margin (23px, -18px);
    color: $whitecolor; 
    font-family: $font-text;
    height: 250px;
    text-decoration: none;
    width: 102%;
       
         & .mini-logo{
          filter: invert(100%);
          padding: 20px;
           
               & .mini-log {
                 width: 130px;
               }

         }
  }  

  .footer-list {
    @include footlist; 

         & li { 
          margin-bottom: 20px; 
         }
           
          & .footer-link {
                text-decoration: none;
                color: $whitecolor;
                margin-bottom: 10px;
           
                    & .iconlist {
                     padding-right: 10px; 
          } 
                
        }
  }

  @keyframes color-hearth{
    0% {
      transform: scaleX(0);
  }
  100% {
      transform: scaleX(1);
  }
}
}

 @media screen and (min-width:768px)  {     
  
    nav .Myfood-logo {
      justify-content: center;
          & .logo {
            margin-left: 0px;
            padding-left: 0px;   
          }
    }
    .location-icon {
      justify-content: center;
            & p {
              margin-right: 30px;
            }
    }
    .booking-steps-container .booking-steps-title {
      align-self: center;
      margin-left: 0px;
  }
    
    .wrapper-restaurants .wrapper-restaurants-title {
      align-self: center;
      margin-left: -18px;
  }
  .footer-list {
    flex-direction: row;
    justify-content: space-around;
    margin-left: -58px;
  }

  @media screen and (min-width:1280px)  {   
      
    .booking-steps-wrapper{
      display: flex;
      flex-direction: row;
      height: 155px;
    }
    .mini-cards {
      margin-left: 50px;
    }
    .wrapper-restaurants{
      flex-wrap: wrap;
      flex-direction: row;
      height: 732px;
    }
    .wrapper-restaurants .wrapper-restaurants-title {
      align-self: flex-start;
      margin-left: 38px;
    }
    .cards{
      flex-direction: row;
      width: 29%;
      margin-left: 2px;
    }
    .restaurant-card {
      margin-left: 17%;
         &.last{
            margin-left: 20.3%;
      }
    }
    .wrapper-restaurant-info {
      margin-left: -305px;
      margin-bottom: -200px;
    }
    .newdiv {
      margin-top: -200px;
    }
    footer {
      height: 150px;
    } 
        .footer-list {
            justify-content: space-evenly;
    }
  }  
 }

 /* Restaurants Menu */

 .wrapper-logo {
  @include flexrow;
  height: 60px;
  width: 100%;
        
       & .left-arrow {
         @include leftarrow;
       }      
         & .logo {
           @include logo-restaurants;
           @include logo-size  (160px, 32px);
         }
        }

.picture-container{
  width: 100%;
  height: 250px;
  overflow: hidden;

            .pallete-pic {
                  height: 89%;
                  width: 100%;
                  object-fit: cover;
                }
}

 .wrapper-pallete-cards {
  @include lightgray-background (#faf5f5);
  z-index: 3;
  position: relative;
  margin-top: -67px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

 }

     
            .menu-wrapper-entrees {
             margin-bottom: 45px; 
             animation: fadeIn 5s;
             animation-delay: 10ms;
        
                       @keyframes fadeIn {
                       0% {opacity: 0; margin-top: -10px;}
                       100% {opacity:1 ; margin-top:10px;}
         }  
        
        }
         .menu-wrapper-mains {
          margin-bottom: 45px; 
          animation: fadeIn 7s;
          animation-delay: 200ms;
    
         
        @keyframes fadeIn {
        0% {opacity: 0; margin-top: -10px;}
        100% {opacity:1 ; margin-top:10px;}
      }  
         }
         .menu-wrapper-desserts {
          margin-bottom: 45px; 
          animation: fadeIn 9s;
          animation-delay: 400ms;
    
         
        @keyframes fadeIn {
        0% {opacity: 0; margin-top: -10px;}
        100% {opacity:1 ; margin-top:10px;}
      }  
         }
                 .wrapper-cards-title {
                       display: flex;
                       flex-direction: row;
                       justify-content: space-around;
                       margin-right: -17px;
             
                                   & .resto-name {
                                     @include rest-names;
                                     font-size: 17px;
   
                }
 }
   
 .rest-hearth {
            margin-bottom: -20px;
     }  

   .title-dish-card {
         font-family: $font-text;
         margin-left: 20px;

              & hr {
                @include dishes-under-score;
              }
}

.dish-card {
    @include rest-cards;
    height: 79px; 
    display: flex;
    flex-direction: column;

              & .dish-name {
                @include dishname;
              }

                  & .card-light-font {
                    @include cardlightfont;                    
                            }   
                          
                         & .dish-price {
                             @include dishprice;   
                             transition: transform 1550ms ease-out;
                  }
                              & .green-wrapper {
                              @include green-wrapper
                          }
                        }
  .dish-card {
     &:hover .dish-price {
           transform: translate(-58px,0);
     }
  }
  
  .dish-card{
       &:hover .green-wrapper{
           animation-name: check-in;
           animation-duration: 1800ms;
           transform-origin: right;
           animation-fill-mode: forwards;
          
           
         }
       }
      

@keyframes check-in {
0% {
   transform:scaleX(0);
    opacity: 0;
}
100% {
  transform: scaleX(1);
  opacity: 1;
}
}


.dish-card {
      &:hover .check {
        transform: rotate(0deg);
      }
}

.check {
      transform: rotate(-480deg);
      transition: transform 800ms ease-in-out;
}

.trimmed {
  width: 100%;
}

.dish-card {
          &:hover .trimmed{
          animation-name: trimmedtext;
          animation-duration: 1300ms;
          transform-origin: right;
          animation-fill-mode: forwards;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
  }
}
@keyframes trimmedtext{
0% {
  transform: unset;
  width: 100%;
}
50% {
  transform: unset;
  width: 80%;
}
100% {
  transform: unset;
  width: 63%;
}
}
  
.button-order-container {
        width: 100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
}
              .explore-button {
                @include exp-buttonshape (15px, 65px, 15px, 65px, 40px);
                @include exp-buttoncolor;
                position: relative;
                z-index: 1;
                
                &:hover {
                  &::after{
                   opacity:1;
                  }
                }
                         &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(to bottom, #9356dc, #ff79da);
                            opacity: 0;
                            z-index: -1;
                            transition: opacity 250ms;
                            border-radius: 40px;
                }
          }


@media screen and (min-width:768px) {
  
  .wrapper-logo{
       justify-content: space-evenly;
       margin-left: -137px;
    } 

  .wrapper-cards-title {
        & .resto-name {
           font-size: 20px;     

      }
        
    }
    .dish-card {
      & .green-wrapper {
        background-color: $color-tertiary;
        color:white;
        display: flex;
        flex-direction: row;
        width: 6%;
        justify-content: flex-end;
        padding: 28px 20px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        align-self: flex-end;
        position: absolute;
        opacity: 0;
      }
  }

             .dish-card {
                  &:hover .dish-price {
                  transform: translate(-84px,0);
  }
}
             .dish-card{
                 &:hover .green-wrapper{
                    animation-name: check-in;
                    animation-duration: 1800ms;
                    transform-origin: right;
                    animation-fill-mode: forwards; 
        
      }
    }
  .check {
    margin-right: 15px;
    font-size: 20px;
  } 

  @media screen and (min-width:1280px) {
    .wrapper-logo{
      justify-content: space-evenly;
      margin-left: -235px;

             & .left-arrow {
                margin-left: -40px;
                padding-left: 1px;
                font-size: 30px;
             }
                 & .logo {
                  width: 220px;
                  height: 36px;
                 }
   }  
   .dish-card {
     & .green-wrapper {
       padding: 28px 1px;
    }
  }
  .check {
    margin-right: 25px;

  }
  @media screen and (min-width:1400px) {
    .wrapper-logo{
      margin-left: -19%;
  }
    .wrapper-cards-title{
      justify-content: flex-start;
      margin-left: 32px;
           
               & .resto-name {
                margin-right: 40px;
               }
  }
  .check {
    margin-right: 35px;
  }
  .dish-card {
    &:hover .dish-price {
    transform: translate(-90px,0);
}
}

  }
  }
}

.wrapper-loader {
 @include wrapper-loader;
}
.loader {
 @include spinloader;
}

@keyframes big-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}
   @keyframes wrapper-color {
    0% {
    background: $whitecolor;
    opacity: 1;
  }
    50% {
    background: $whitecolor;
    opacity: 1;
  }
    100% {
      opacity: 0;
    }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% { 
    transform: rotate(360deg);
    opacity: 0;
  }
}



