  @mixin lightgray-background ($whitecolor){
    background-color: $whitecolor;
  }

  @mixin logo-size  ($width-logo, $height-logo){
     width: $width-logo;
     height: $height-logo;
  }  

  @mixin div-border {
   padding-top: 10px;
   padding-bottom: 10px;
   border-bottom: 1px none #a5a3a3;
   width: 105%;
   box-shadow: 0px 0px 0px 2px $color-shadow;
  }

  @mixin container-margin ($padding-left, $marginhead-left) {
   margin-left: $marginhead-left;
   padding-left: $padding-left;
  }

  @mixin flexrow {
      display:flex;
      flex-direction:row;
      align-items: center;
     
  }

  @mixin flexcolumn {
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  @mixin font-location {
    font-family: $font-text; 
    font-size: larger;
  }

  @mixin exp-buttonshape ($padtop, $padright, $padbot, $padleft, $borradius) {
    padding-top: $padtop;
    padding-right: $padright;
    padding-bottom: $padbot;
    padding-left: $padleft;
    border-radius: $borradius;
    border:none;
  }

  @mixin exp-buttoncolor {
    font-family: $font-text;
    font-size: 16px;
    color: white;
    background: linear-gradient(to bottom, #ff79da, #9356dc);
  }
   
  @mixin container-titles {
    font-family: $font-text;
    align-self: flex-start;
    margin-left: 20px;
  }
  @mixin cards ($margin-bottom) {
    
    border: 1px none #cacaca;
    border-radius: 15px;
    margin-bottom: $margin-bottom;
    font-family: $font-text;
    background-color:#f8f8f8;
    box-shadow: 0 4px 8px 0 #cacaca;
    transition: 0.9s; 
   
  }
  @mixin purplenumbers {
    padding: 3px 7px;
    border: 1px solid $color-primary;
    border-radius: 20px;
    background-color: $color-primary;
    color: #fff;
    margin-left: -30px;
    margin-right: 20px;
  }
  @mixin cardimg {
    height: 160px;
    width: 300px;
    padding:2px;
    border-radius: 15px;
  }
  @mixin footlist {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none !important;
    margin-left: -20px;
    padding-bottom: 10px;
  }
  @mixin newgreen {
    display: flex;
    flex-direction: row;
    border: 1px solid $color-tertiary;
    padding: 5px 20px;
    background-color: $color-tertiary;
    color: #2d6b5c;
    border-radius: 4px;
    z-index: 1;
    top: 5px;
    font-family: $font-text;
    margin-left: 200px;
    margin-top: -215px;
  }

  @mixin leftarrow {
    font-size: 20px; 
    padding-left:15px;
    justify-content: flex-start;
    margin-right: 40px;
  }

  @mixin logo-restaurants {
    display: flex;
    justify-content: center;
    padding-left: 25px;
     
  }
 @mixin rest-names {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: $font-title;
  font-size: 18px;
 }
    
   @mixin dishes-under-score {
    width: 13%;
    margin-left: 2px;
    color: #99e2d0;
    border: 1px solid;
    margin-top: -7px;
   }

  @mixin rest-cards {
    border: 1px none #cacaca;
    border-radius: 15px;
    margin-bottom: $margin-bottom;
    font-family: $font-text;
    background-color:#f8f8f8;
    box-shadow: 0 4px 8px 0 #cacaca;
    width: 96%;
    margin-left: 5px; 
  }

  @mixin dishname {
     margin-left: 20px;
     padding-top: 1px;
     font-weight: bold;
  }

  @mixin cardlightfont {
    margin-left: 20px;
    margin-top: -20px;
    font-size: 12.5px;
  }

  @mixin dishprice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 10px;   
  }
  @mixin green-wrapper {
    background-color: $color-tertiary;
    color:white;
    display: flex;
    flex-direction: row;
    width: 6%;
    justify-content: flex-end;
    padding: 30px 20px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    align-self: flex-end;
    position: absolute;
    opacity: 0;
    
  }
  @mixin wrapper-loader {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: block;
    position: fixed;
    left: 0%;
    top: 25%;
    right: 80%;
    bottom: 25%;
    animation: wrapper-color 4s;
  }
  @mixin spinloader {
    border: 16px solid $color-primary;
    border-radius: 50%;
    border-top: 16px solid $whitecolor;
    width: 80px;
    height: 80px;
    animation: spin 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }