$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-shadow: #cacaca;
$color-backgrounddark:#d1d1d1;
$font-title: Shrikhand;
$font-text: Roboto;
$div-width: 100%;
$whitecolor:#fff;
$padding-left: 20px;
$marginhead-left: 50px;
$margin-bottom: 20px;
$width-logo: 194px;
$height-logo: 91px;
